@import './components/TodoList.css';
@import './components/TodoInput.css';
@import './components/Carousel.css';

body {
  margin: 0;
  padding: 0;
}

div,
input,
form,
img,
label {
  box-sizing: border-box;
}

.layout {
  margin: 2rem;
  padding: 2rem;
  border: 1px solid #e0e0e0;
}
